body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #111111;
  background-image: url(./assets/Background.png);
  background-size: cover;

}

header {
  background-color: #920c0c;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover, nav a.active {
  background-color: #3a3737;
}

section {
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #3a3737;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form textarea, form button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; 
}

form button {
  background-color: #005aee;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #003975;
}
